<div id="fh5co-about" class="border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 animate-box">
                <figure>
                    <img src="images/blog-1.jpg" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive">
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animate-box">
                <p> 企业类型：个体工商户<br>
                    工商注册号：233001600156648<br>
                    组织结构代码：MA1973QW0<br>
                    统一信用代码：92233001MA1973QW0F<br>
                    纳税人识别号：92233001MA1973QW0F<br>
                    核准日期：2015年2月24日<br>
                    登记机关：黑龙江省垦区工商行政管理局宝泉岭分局局直工商所 </p>
            </div>
            <div class="col-md-6 animate-box">
                <p>注册地址：黑龙江省 鹤岗市 萝北县 宝泉岭名山街北尚志路 西侧1号1幢7号<br>经营范围：计算机、软件及辅助设备、通信设备、其他电子产品、电子器材、电线电缆、文具用品批发零售、安全系统监控服务 </p>
            </div>
        </div>
    </div>
</div>
