<div id="fh5co-services-section" class="border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3 animate-box">
                <h3 class="heading-section">主要人员</h3>
                <p>每一个人的加入，都是我们成长的见证。 </p>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="services animate-box">
                            <span><i class="icon-user"></i></span>
                            <h3>刘建华</h3>
                            <p>公司董事长</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="services animate-box">
                            <span><i class="icon-glass"></i></span>
                            <h3>崔毅</h3>
                            <p>公司副董事长</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="services animate-box">
                            <span><i class="icon-tools"></i></span>
                            <h3>秦海华</h3>
                            <p>公司运营总监</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="services animate-box">
                            <span><i class="icon-power"></i></span>
                            <h3>刘梦露</h3>
                            <p>公司总经理</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="services animate-box">
                            <span><i class="icon-search"></i></span>
                            <h3>刘婷婷</h3>
                            <p>运营副总监</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="services animate-box">
                            <span><i class="icon-cloud"></i></span>
                            <h3>卿晓玲</h3>
                            <p>人力资源部总监</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>