<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright 2016 亿苟科技 All Rights Reserved. <br>Made by Ego Software</p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-menu">
                        <li class="active">
                            <a href="/">主页</a>
                        </li>
                        <li>
                            <a href="#" onclick="move_to_history()">历史沿革</a>
                        </li>
                        <li><a href="#" onclick="move_to_people()">主要人员</a></li>
                        <li><a href="#" onclick="move_to_share()">股东信息</a></li>
                        <li><a href="#" onclick="move_to_invest()">对外投资</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>