<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover text-center" style="background-image: url(/images/technology.jpg);">
        <div class="desc animate-box">
            <h2>创赢高科</h2>
            <span>宝泉岭农垦创赢电脑电子设备公司</span>
            <span><a class="btn btn-primary" href="tel://0468-6075111">联系我们</a></span>
        </div>
    </div>
</div>