<header id="fh5co-header-section">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <h1 id="fh5co-logo"><a href="/">创赢高科</a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
                <ul class="sf-menu" id="fh5co-primary-menu">
                    <li class="active">
                        <a href="/">主页</a>
                    </li>
                    <li>
                        <a href="#">历史沿革</a>
                    </li>
                    <li><a href="#">主要人员</a></li>
                    <li><a href="#">股东信息</a></li>
                    <li><a href="#">对外投资</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>