<div id="fh5co-content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="fh5co-testimonial text-center animate-box">
                    <h2>股东信息</h2>
                    <figure>
                        <img src="/images/user-1.jpg" alt="user">
                    </figure>
                    <blockquote>
                        <p>任正非的父母是贵州省安顺市镇宁县的乡村中学教师，祖籍一说江苏，但是其祖父在浙江浦江县居住，属于较富裕阶层。其父政治上倾向共产党（1958年加入共产党），但曾经在国民政府兵工厂工作，由于中共早期严峻的政治气氛，这一度给其本人和家庭带来很大麻烦。任正非在军中，加入共产党的申请迟迟未获得批准。</p>
                    </blockquote>
                    <span>任正非, 华为</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="fh5co-about-us animate-box">
                    <h2 class="text-center">对外投资</h2>
                    <img src="images/about-image.jpg" alt="About Us">
                    <p>企业对外投资是相对于对内投资而言。所谓企业对外投资就是企业在其本身经营的主要业务以外，以现金、实物、无形资产方式，或者以购买股票、债券等有价证券方式向境内外的其他单位进行投资，以期在未来获得投资收益的经济行为。对外投资是相对于对内投资而言的，企业对外投资收益是企业总收益的组成部分。在市场经济特别是发展横向经济联合的条件下，企业对外投资已成为企业财务活动的重要内容。</p>
                </div>
            </div>
        </div>
    </div>
</div>